.optionsForm input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

}