body {
    background-image: linear-gradient(to right, rgb(75, 0, 130), rgb(54, 117, 136));
    color: #A2B5CD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.mainForm {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

}

.optionsForm {
    width: auto;
    border: 10px solid;
    border-radius: 9rem;
    padding: 4rem;
    padding-top: 1.8rem;
    -webkit-border-radius: 9rem;
    -moz-border-radius: 9rem;
    -ms-border-radius: 9rem;
    -o-border-radius: 9rem;
}